<a href="https://colab.research.google.com/github/MSBX5420/team-mount-massive/blob/master/Abbie_Simple_Top_5_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

Load in data and create a copy.

In [7]:
url = 'https://raw.githubusercontent.com/MSBX5420/team-mount-massive/master/sample_movies_single.csv'
movies = pd.read_csv(url)
movies2 = movies.copy()

     titleId  ordering  ... averageRating numVotes
0  tt0000012         7  ...           7.4   9435.0
1  tt0000582         4  ...           5.1    555.0
2  tt0001013         1  ...           5.9    283.0
3  tt0011545         8  ...           5.8    367.0
4  tt0013951         7  ...           6.5    470.0

[5 rows x 19 columns]

Create a new Weighted Rating Column in data copy using formula cited to be from IMDB on Kaggle (though IMDB says it keeps its weighted rating formula private to maintain efficacy). This formula takes number of votes for the movie, the average rating over all movies, the average rating for the movie, and an inputed value representing the number of votes requred to make the list (I chose movies over the 10th percentile since we already created a cutoff in the data cleaning process).

In [68]:
movies2["WeightedRating"] = np.nan

for i in range(0,len(movies2)) :
  v = movies2.numVotes[i]
  m = np.percentile(movies2.averageRating, q = .10)
  C = movies2['averageRating'].mean()
  R = movies2.averageRating[i]
  movies2.WeightedRating[i] = (v/(v+m) * R) + (m/(m+v) * C)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

     titleId  ordering  ... numVotes WeightedRating
0  tt0000012         7  ...   9435.0       7.399816
1  tt0000582         4  ...    555.0       5.103897
2  tt0001013         1  ...    283.0       5.902844
3  tt0011545         8  ...    367.0       5.802657
4  tt0013951         7  ...    470.0       6.499554

[5 rows x 20 columns]

Create a function that takes three parameters: genre, type, and age of film. This function cycles through films meeting the criteria, and produces a top 5 list based on highest weighted rating.

In [0]:
def recommend(genrechoice, typechoice, agechoice = 0):
  PossMovie = movies2[movies2['genres'].str.contains(genrechoice)]
  PossMovie = PossMovie[PossMovie['titleType'].str.contains(typechoice)]
  if (agechoice == "Old" ):
    PossMovie = PossMovie[PossMovie.startYear <= 2000]
  if (agechoice == "New" ):
    PossMovie = PossMovie[PossMovie.startYear > 2000]
  else: 
    PossMovie = PossMovie
  Ordered = PossMovie.sort_values(by="WeightedRating", ascending = False) 
  Ordered = Ordered[['title', 'genres', 'titleType', 'startYear', 'WeightedRating']]
  Top5 = Ordered[:5]
  return Top5

Test function:

In [74]:
recommend('Comedy', 'movie', 'New')

                        title  ... WeightedRating
769                 Marmoulak  ...       8.499704
663            Dil Chahta Hai  ...       8.099953
1135  Guardians of the Galaxy  ...       7.999997
1248                 Zootopia  ...       7.999993
1337     En man som heter Ove  ...       7.699945

[5 rows x 5 columns]