<a href="https://colab.research.google.com/github/MSBX5420/team-mount-massive/blob/master/PySpark_Simple_Top_5_Recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/9a/5a/271c416c1c2185b6cb0151b29a91fff6fcaed80173c8584ff6d20e46b465/pyspark-2.4.5.tar.gz (217.8MB)
     |████████████████████████████████| 217.8MB 62kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 47.4MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.5-py2.py3-none-any.whl size=218257927 sha256=63332ed1ab799d3c63c5b851677111e72ad00141f4adb0e5c0398690571e5a60
  Stored in directory: /root/.cache/pip/wheels/bf/db/04/61d66a5939364e756eb1c1be4ec5bdce6e04047fc7929a3c3c
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.7 pyspark-2.4.5

In [23]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [20]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
import pyspark
from pyspark.sql import SparkSession

sc = SparkContext()
sqlContext = SQLContext(sc)

spark=SparkSession.builder.appName('Recommend_Function').getOrCreate()

ValueError: ignored

In [0]:
import pandas as pd

In [25]:
movies = spark.read.csv('drive/My Drive/Data/sample_movies_single.csv', header =True, inferSchema=True)

+---------+--------+--------------------+------+--------+--------+----------+---------------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|  titleId|ordering|               title|region|language|   types|attributes|isOriginalTitle|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|
+---------+--------+--------------------+------+--------+--------+----------+---------------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
|tt0000012|       7|L'arrivée d'un tr...|    \N|      \N|original|        \N|              1|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|    0.0|     1896|     \N|             1|Action,Documentar...|          7.4|  9435.0|
|tt0000582|       4|             Ben Hur|    \N|      \N|original|        \N|              1|tt0000582|    short|             Ben Hur|             Ben Hur|    0.0|     1907|     \N|            15|         Drama,Short|          5.1|   555.0|
|tt0001013|       1|  The Red Man's View|    \N|      \N|original|        \N|              1|tt0001013|    short|  The Red Man's View|  The Red Man's View|    0.0|     1909|     \N|            14|       Short,Western|          5.9|   283.0|
|tt0011545|       8|  Oranges and Lemons|    \N|      \N|original|        \N|              1|tt0011545|    short|  Oranges and Lemons|  Oranges and Lemons|    0.0|     1923|     \N|            12|        Comedy,Short|          5.8|   367.0|
|tt0013951|       7|   The Covered Wagon|    \N|      \N|original|        \N|              1|tt0013951|    movie|   The Covered Wagon|   The Covered Wagon|    0.0|     1923|     \N|            98|Adventure,Romance...|          6.5|   470.0|
|tt0014416|       1|              Rosita|    \N|      \N|original|        \N|              1|tt0014416|    movie|              Rosita|              Rosita|    0.0|     1923|     \N|            90|      Comedy,Romance|          6.5|   252.0|
|tt0014497|       4|      Souls for Sale|    \N|      \N|original|        \N|              1|tt0014497|    movie|      Souls for Sale|      Souls for Sale|    0.0|     1923|     \N|            90|Comedy,Drama,Romance|          7.0|   770.0|
|tt0015175|      11|Die Nibelungen: S...|    \N|      \N|original|        \N|              1|tt0015175|    movie|Die Nibelungen: S...|Die Nibelungen: S...|    0.0|     1924|     \N|           143|Adventure,Drama,F...|          8.1|  4801.0|
|tt0015648|      41|Bronenosets Potemkin|    \N|      \N|original|        \N|              1|tt0015648|    movie| Battleship Potemkin|Bronenosets Potemkin|    0.0|     1925|     \N|            75|Drama,History,Thr...|          8.0| 49224.0|
|tt0016461|       9|         Tumbleweeds|    \N|      \N|original|        \N|              1|tt0016461|    movie|         Tumbleweeds|         Tumbleweeds|    0.0|     1925|     \N|            78|             Western|          6.5|   511.0|
+---------+--------+--------------------+------+--------+--------+----------+---------------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+
only showing top 10 rows

Load in data and create a copy.

Create a new Weighted Rating Column in data copy using formula cited to be from IMDB on Kaggle (though IMDB says it keeps its weighted rating formula private to maintain efficacy). This formula takes number of votes for the movie, the average rating over all movies, the average rating for the movie, and an inputed value representing the number of votes requred to make the list (I chose movies over the 10th percentile since we already created a cutoff in the data cleaning process).

In [0]:
movies.show(10)

In [0]:
from pyspark.sql.functions import *

In [0]:
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import udf, col

In [0]:
mean = movies.groupBy().avg("averageRating").take(1)[0][0]
movies = movies.withColumn("AverageTotalVotes", lit(mean))

In [48]:
movies = movies.withColumn("WeightedRating", lit(0).cast(IntegerType()))
movies = movies.withColumn("MinimumVotes", lit(100).cast(IntegerType()))
movies.show(10)

+---------+--------+--------------------+------+--------+--------+----------+---------------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+--------------+------------+-----------------+
|  titleId|ordering|               title|region|language|   types|attributes|isOriginalTitle|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|averageRating|numVotes|WeightedRating|MinimumVotes|AverageTotalVotes|
+---------+--------+--------------------+------+--------+--------+----------+---------------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+--------------+------------+-----------------+
|tt0000012|       7|L'arrivée d'un tr...|    \N|      \N|original|        \N|              1|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|    0.0|     1896|     \N|             1|Action,Documentar...|          7.4|  9435.0|             0|         100|6.376230569948188|
|tt0000582|       4|             Ben Hur|    \N|      \N|original|        \N|              1|tt0000582|    short|             Ben Hur|             Ben Hur|    0.0|     1907|     \N|            15|         Drama,Short|          5.1|   555.0|             0|         100|6.376230569948188|
|tt0001013|       1|  The Red Man's View|    \N|      \N|original|        \N|              1|tt0001013|    short|  The Red Man's View|  The Red Man's View|    0.0|     1909|     \N|            14|       Short,Western|          5.9|   283.0|             0|         100|6.376230569948188|
|tt0011545|       8|  Oranges and Lemons|    \N|      \N|original|        \N|              1|tt0011545|    short|  Oranges and Lemons|  Oranges and Lemons|    0.0|     1923|     \N|            12|        Comedy,Short|          5.8|   367.0|             0|         100|6.376230569948188|
|tt0013951|       7|   The Covered Wagon|    \N|      \N|original|        \N|              1|tt0013951|    movie|   The Covered Wagon|   The Covered Wagon|    0.0|     1923|     \N|            98|Adventure,Romance...|          6.5|   470.0|             0|         100|6.376230569948188|
|tt0014416|       1|              Rosita|    \N|      \N|original|        \N|              1|tt0014416|    movie|              Rosita|              Rosita|    0.0|     1923|     \N|            90|      Comedy,Romance|          6.5|   252.0|             0|         100|6.376230569948188|
|tt0014497|       4|      Souls for Sale|    \N|      \N|original|        \N|              1|tt0014497|    movie|      Souls for Sale|      Souls for Sale|    0.0|     1923|     \N|            90|Comedy,Drama,Romance|          7.0|   770.0|             0|         100|6.376230569948188|
|tt0015175|      11|Die Nibelungen: S...|    \N|      \N|original|        \N|              1|tt0015175|    movie|Die Nibelungen: S...|Die Nibelungen: S...|    0.0|     1924|     \N|           143|Adventure,Drama,F...|          8.1|  4801.0|             0|         100|6.376230569948188|
|tt0015648|      41|Bronenosets Potemkin|    \N|      \N|original|        \N|              1|tt0015648|    movie| Battleship Potemkin|Bronenosets Potemkin|    0.0|     1925|     \N|            75|Drama,History,Thr...|          8.0| 49224.0|             0|         100|6.376230569948188|
|tt0016461|       9|         Tumbleweeds|    \N|      \N|original|        \N|              1|tt0016461|    movie|         Tumbleweeds|         Tumbleweeds|    0.0|     1925|     \N|            78|             Western|          6.5|   511.0|             0|         100|6.376230569948188|
+---------+--------+--------------------+------+--------+--------+----------+---------------+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+-------------+--------+--------------+------------+-----------------+
only showing top 10 rows

In [0]:
def weighted(v, m, C, R) : 
  return (v/(v+m) * R) + (m/(m+v) * C)

In [0]:
weighted_udf = udf(weighted, IntegerType())

In [0]:
movies = movies.withColumn('WeightedRating', weighted_udf('numVotes', 'MinimumVotes', 'AverageTotalVotes', 'averageRating'))

In [58]:
movies.show(10)

IllegalArgumentException: ignored

Create a function that takes three parameters: genre, type, and age of film. This function cycles through films meeting the criteria, and produces a top 5 list based on highest weighted rating.

In [38]:
def recommend(genrechoice : str) :
  PossMovie = movies.filter(movies.genres.like(genrechoice)
  CASE 
    WHEN (agechoice = 'New') THEN PossMovie = PossMovie.filter(movies.startYear >= 2000)
    WHEN (agechoice = 'Old') THEN PossMovie = PossMovie.filter(movies.startYear < 2000) 
    ELSE PossMovie = PossMovie
  END
  PossMovie = PossMovie.select('title', 'genres', 'startYear', 'titleType', 'WeightedRating')
  PossMovie.show(10)

SyntaxError: ignored

In [0]:
  Ordered = PossMovie.sort_values(by="WeightedRating", ascending = False) 
  Ordered = Ordered[['title', 'genres', 'titleType', 'startYear', 'WeightedRating']]
  Top5 = Ordered[:5]

Test function:

In [0]:
recommend('Comedy', 'movie', 'New')

                        title  ... WeightedRating
769                 Marmoulak  ...       8.499704
663            Dil Chahta Hai  ...       8.099953
1135  Guardians of the Galaxy  ...       7.999997
1248                 Zootopia  ...       7.999993
1337     En man som heter Ove  ...       7.699945

[5 rows x 5 columns]